/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;300;400;500;600;700&display=swap');
body{
    font-family: 'Fira Sans Condensed', sans-serif;
}

.container{
    width: 1100px;
    margin: 0 auto;
}

.header{
    .info_baner{
        width: 100%;
        height: 55px;
        background: url('../img/h_ban.png') center / cover no-repeat;
        .baner_info{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .info_item_1{
                height: 55px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 13px;
                color: #fff;
                img{
                    margin-right: 10px;
                }
            }
            .info_item_2{
                height: 55px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                a{
                    background-color: #64c31f;
                    color: #fff;padding: 13px 30px;
                    border-radius: 30px;
                    font-size: 16px;
                    letter-spacing: 3px;
                    font-weight: 500;
                    margin-left: 15px;
                    &:nth-child(2){
                        background-color: #8c2b3c;
                    }
                    &:nth-child(3){
                        background-color: #f2f0ec;
                        color: #838383;
                        padding: 0;
                    }
                }
            }
        }
    }
    .menu_block{
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{

        }
        .menu{
            a{
                color: #2d3b4d;
                font-size: 20px;
                font-weight: 500;
                margin-left: 30px;
                letter-spacing: 1px;
            }
        }
    }
}

.c_block_text{
    width: 100%;
    background-color: #8c2b3c;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fff;
}
.c_block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    .c_item{
        width: 50%;
        padding: 60px 10px;
        h2{
            font-size: 55px;
            font-weight: 700;
            color: #424242;
            line-height: 1.2em;
            margin-bottom: 30px;
        }
        p{
            font-size: 15px;
            letter-spacing: 1px;
            color: #8947b7;
        }
    }
    .c_form{
        width: 50%;
        padding: 60px 10px;
        .c_form_1{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            input{
                width: 100%;
                height: 60px;
                padding-left: 15px;
                background-color: #f2f0ec;
                font-size: 16px;
                &:nth-child(1){
                    margin-right: 20px;
                }
            }
        }
        .in1{
            width: 100%;
            height: 60px;
            padding-left: 15px;
            background-color: #f2f0ec;
            font-size: 16px;
            margin-top: 20px;
        }
        .tex{
            width: 100%;
            height: 170px;
            padding-left: 15px;
            background-color: #f2f0ec;
            font-size: 16px;
            margin-top: 20px;
            padding: 25px 0 0 15px;
        }
        button{
            padding: 13px 25px;
            margin-top: 20px;
            background-color: #2d3b4d;
            color: #fff;
            letter-spacing: 1px;
            font-weight: 600;
        }
    }
}

.cont_karts{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 30px 15px;
    .karts_item{
        width: 24%;
        min-height: 400px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .item_zag{
            width: 100%;
            height: 55px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            color: #fff;
            font-size:23px;
            letter-spacing: 1px;
            font-weight: 600;
            background-color: #4d5c85;
        }
        .item_text{
            width: 100%;
            height: 100%;
            padding: 30px 20px;
            background-color: #e7ebf9;
            p{
                margin-bottom: 30px;
                color: #4d5c85;
                font-size: 16px;
                line-height: 1.8em;
                span{
                    font-weight: 600;
                }
            }
        }

        &:nth-child(2){
            .item_zag{
                background-color: #8c2b3c;
            }
            .item_text{
                background-color: #ffeef1;
                p{
                    color: #8c2b3c;
                }
            }
        }
        &:nth-child(3){
            .item_zag{
                background-color: #333333;
            }
            .item_text{
                background-color: #eaeaea;
                p{
                    color: #333333;
                }
            }
        }
        &:nth-child(4){
            .item_zag{
                background-color: #2d3b4d;
            }
            .item_text{
                background-color: #eaf3ff;
                p{
                    color: #2d3b4d;
                }
            }
        }
    }
}
footer{
    width: 100%;
    .footer_1{
        width: 100%;
        background-color: #8c2b3c;
        border-top: 20px solid #6b1d2b;
        .footer_1_vn{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 65px 0;
            .vn_1_item{
                width: 300px;
                display: flex;
                flex-direction: column;
                h2{
                    font-size: 24px;
                    color: #fff;
                    font-weight: 700;
                    letter-spacing: 1px;
                    margin-bottom: 30px;
                }
                a, p{
                    color: #fff;
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 20px;
                }
                p{
                    line-height: 1.8em;
                }
                .icons{
                    img{
                        height: 40px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .footer_2{
        width: 100%;
        height: 70px;
        color: #97afb7;
        background-color: #424242;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 1.2em;
        text-align: center;
    }
}

@media screen and (max-width: 1199px) {
    .container{
        width: 900px;
    }
}

@media screen and (max-width: 991px) {
    .container{
        width: 667px;
    }


    .c_block_text{
        width: 100%;
        background-color: #8c2b3c;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        letter-spacing: 2px;
        font-weight: 600;
        color: #fff;
    }
    .c_block{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        .c_item{
            width: 50%;
            padding: 60px 10px;
            h2{
                font-size: 55px;
                font-weight: 700;
                color: #424242;
                line-height: 1.2em;
                margin-bottom: 30px;
            }
            p{
                font-size: 15px;
                letter-spacing: 1px;
                color: #8947b7;
            }
        }
        .c_form{
            width: 50%;
            padding: 60px 10px;
            .c_form_1{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                input{
                    width: 100%;
                    height: 60px;
                    padding-left: 15px;
                    background-color: #f2f0ec;
                    font-size: 16px;
                    &:nth-child(1){
                        margin-right: 20px;
                    }
                }
            }
            .in1{
                width: 100%;
                height: 60px;
                padding-left: 15px;
                background-color: #f2f0ec;
                font-size: 16px;
                margin-top: 20px;
            }
            .tex{
                width: 100%;
                height: 170px;
                padding-left: 15px;
                background-color: #f2f0ec;
                font-size: 16px;
                margin-top: 20px;
                padding: 25px 0 0 15px;
            }
            button{
                padding: 13px 25px;
                margin-top: 20px;
                background-color: #2d3b4d;
                color: #fff;
                letter-spacing: 1px;
                font-weight: 600;
            }
        }
    }
    
    .cont_karts{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
        padding: 30px 15px;
        .karts_item{
            width: 47%;
            min-height: 400px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: 15px 0;
            .item_zag{
                width: 100%;
                height: 55px;
                display: flex;
                align-items: center;
                padding-left: 20px;
                color: #fff;
                font-size:23px;
                letter-spacing: 1px;
                font-weight: 600;
                background-color: #4d5c85;
            }
            .item_text{
                width: 100%;
                height: 100%;
                padding: 30px 20px;
                background-color: #e7ebf9;
                p{
                    margin-bottom: 30px;
                    color: #4d5c85;
                    font-size: 16px;
                    line-height: 1.8em;
                    span{
                        font-weight: 600;
                    }
                }
            }
    
            &:nth-child(2){
                .item_zag{
                    background-color: #8c2b3c;
                }
                .item_text{
                    background-color: #ffeef1;
                    p{
                        color: #8c2b3c;
                    }
                }
            }
            &:nth-child(3){
                .item_zag{
                    background-color: #333333;
                }
                .item_text{
                    background-color: #eaeaea;
                    p{
                        color: #333333;
                    }
                }
            }
            &:nth-child(4){
                .item_zag{
                    background-color: #2d3b4d;
                }
                .item_text{
                    background-color: #eaf3ff;
                    p{
                        color: #2d3b4d;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .container{
        width: 500px;
    }
    .header{
        .info_baner{
            width: 100%;
            height: auto;
            background: none;
            background-color: #424242;
            .baner_info{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                .info_item_1{
                    height: 55px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 13px;
                    color: #fff;
                    img{
                        margin-right: 10px;
                    }
                }
                .info_item_2{
                    height: 55px;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    align-items: center;
                    a{
                        background-color: #64c31f;
                        color: #fff;padding: 9px 25px;
                        border-radius: 30px;
                        font-size: 13px;
                        letter-spacing: 3px;
                        font-weight: 500;
                        margin-left: 15px;
                        &:nth-child(2){
                            background-color: #8c2b3c;
                        }
                        &:nth-child(3){
                            background-color: #424242;
                            color: #838383;
                            padding: 0;
                        }
                    }
                }
            }
        }
        .menu_block{
            width: 100%;
            height: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                display: none;
            }
            .menu{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                a{
                    color: #2d3b4d;
                    font-size: 20px;
                    font-weight: 500;
                    margin-left: 0px;
                    letter-spacing: 1px;
                }
            }
        }
    }
    
    
    
    footer{
        width: 100%;
        .footer_1{
            width: 100%;
            background-color: #8c2b3c;
            border-top: 20px solid #6b1d2b;
            .footer_1_vn{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                padding: 65px 0;
                .vn_1_item{
                    width: 300px;
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    h2{
                        font-size: 24px;
                        color: #fff;
                        font-weight: 700;
                        letter-spacing: 1px;
                        margin-bottom: 30px;
                    }
                    a, p{
                        color: #fff;
                        font-size: 18px;
                        font-weight: 300;
                        margin-bottom: 20px;
                    }
                    p{
                        line-height: 1.8em;
                    }
                    .icons{
                        img{
                            height: 40px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .footer_2{
            width: 100%;
            height: 70px;
            color: #97afb7;
            background-color: #424242;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            letter-spacing: 0.5px;
            line-height: 1.2em;
            text-align: center;
        }
    }

    .c_block_text{
        width: 100%;
        background-color: #8c2b3c;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 50px;
        letter-spacing: 2px;
        font-weight: 600;
        color: #fff;
    }
    .c_block{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: stretch;
        .c_item{
            width: 100%;
            padding: 60px 10px;
            h2{
                font-size: 55px;
                font-weight: 700;
                color: #424242;
                line-height: 1.2em;
                margin-bottom: 30px;
            }
            p{
                font-size: 15px;
                letter-spacing: 1px;
                color: #8947b7;
            }
        }
        .c_form{
            width: 100%;
            padding: 60px 10px;
            .c_form_1{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                input{
                    width: 100%;
                    height: 60px;
                    padding-left: 15px;
                    background-color: #f2f0ec;
                    font-size: 16px;
                    &:nth-child(1){
                        margin-right: 20px;
                    }
                }
            }
            .in1{
                width: 100%;
                height: 60px;
                padding-left: 15px;
                background-color: #f2f0ec;
                font-size: 16px;
                margin-top: 20px;
            }
            .tex{
                width: 100%;
                height: 170px;
                padding-left: 15px;
                background-color: #f2f0ec;
                font-size: 16px;
                margin-top: 20px;
                padding: 25px 0 0 15px;
            }
            button{
                padding: 13px 25px;
                margin-top: 20px;
                background-color: #2d3b4d;
                color: #fff;
                letter-spacing: 1px;
                font-weight: 600;
            }
        }
    }
    
    .cont_karts{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
        padding: 30px 15px;
        .karts_item{
            width: 47%;
            min-height: 400px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: 15px 0;
            .item_zag{
                width: 100%;
                height: 55px;
                display: flex;
                align-items: center;
                padding-left: 20px;
                color: #fff;
                font-size:23px;
                letter-spacing: 1px;
                font-weight: 600;
                background-color: #4d5c85;
            }
            .item_text{
                width: 100%;
                height: 100%;
                padding: 30px 20px;
                background-color: #e7ebf9;
                p{
                    margin-bottom: 30px;
                    color: #4d5c85;
                    font-size: 16px;
                    line-height: 1.8em;
                    span{
                        font-weight: 600;
                    }
                }
            }
    
            &:nth-child(2){
                .item_zag{
                    background-color: #8c2b3c;
                }
                .item_text{
                    background-color: #ffeef1;
                    p{
                        color: #8c2b3c;
                    }
                }
            }
            &:nth-child(3){
                .item_zag{
                    background-color: #333333;
                }
                .item_text{
                    background-color: #eaeaea;
                    p{
                        color: #333333;
                    }
                }
            }
            &:nth-child(4){
                .item_zag{
                    background-color: #2d3b4d;
                }
                .item_text{
                    background-color: #eaf3ff;
                    p{
                        color: #2d3b4d;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 575px) {
    .container{
        width: 100%;
    }


    .header{
        .info_baner{
            width: 100%;
            height: auto;
            background: none;
            background-color: #424242;
            .baner_info{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                .info_item_1{
                    height: 55px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 13px;
                    color: #fff;
                    img{
                        margin-right: 10px;
                    }
                }
                .info_item_2{
                    height: 55px;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    align-items: center;
                    a{
                        background-color: #64c31f;
                        color: #fff;padding: 9px 25px;
                        border-radius: 30px;
                        font-size: 13px;
                        letter-spacing: 3px;
                        font-weight: 500;
                        margin-left: 15px;
                        &:nth-child(2){
                            background-color: #8c2b3c;
                        }
                        &:nth-child(3){
                            background-color: #424242;
                            color: #838383;
                            padding: 0;
                        }
                    }
                }
            }
        }
        .menu_block{
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                display: none;
            }
            .menu{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                a{
                    color: #2d3b4d;
                    font-size: 16px;
                    font-weight: 500;
                    margin-left: 0px;
                    letter-spacing: 1px;
                }
            }
        }
    }
    
    
    
    footer{
        width: 100%;
        .footer_1{
            width: 100%;
            background-color: #8c2b3c;
            border-top: 20px solid #6b1d2b;
            .footer_1_vn{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 65px 0;
                .vn_1_item{
                    width: 300px;
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding: 0 10px;
                    h2{
                        font-size: 24px;
                        color: #fff;
                        font-weight: 700;
                        letter-spacing: 1px;
                        margin-bottom: 30px;
                    }
                    a, p{
                        color: #fff;
                        font-size: 18px;
                        font-weight: 300;
                        margin-bottom: 20px;
                    }
                    p{
                        line-height: 1.8em;
                    }
                    .icons{
                        img{
                            height: 40px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .footer_2{
            width: 100%;
            height: 70px;
            color: #97afb7;
            background-color: #424242;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            letter-spacing: 0.5px;
            line-height: 1.2em;
            text-align: center;
        }
    }


    .c_block_text{
        width: 100%;
        background-color: #8c2b3c;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 50px;
        letter-spacing: 2px;
        font-weight: 600;
        color: #fff;
    }
    .c_block{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: stretch;
        .c_item{
            width: 100%;
            padding: 60px 10px;
            h2{
                font-size: 35px;
                font-weight: 700;
                color: #424242;
                line-height: 1.2em;
                margin-bottom: 30px;
            }
            p{
                font-size: 13px;
                letter-spacing: 1px;
                color: #8947b7;
            }
        }
        .c_form{
            width: 100%;
            padding: 60px 10px;
            .c_form_1{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                input{
                    width: 100%;
                    height: 60px;
                    padding-left: 15px;
                    background-color: #f2f0ec;
                    font-size: 16px;
                    &:nth-child(1){
                        margin-right: 20px;
                    }
                }
            }
            .in1{
                width: 100%;
                height: 60px;
                padding-left: 15px;
                background-color: #f2f0ec;
                font-size: 16px;
                margin-top: 20px;
            }
            .tex{
                width: 100%;
                height: 170px;
                padding-left: 15px;
                background-color: #f2f0ec;
                font-size: 16px;
                margin-top: 20px;
                padding: 25px 0 0 15px;
            }
            button{
                padding: 13px 25px;
                margin-top: 20px;
                background-color: #2d3b4d;
                color: #fff;
                letter-spacing: 1px;
                font-weight: 600;
            }
        }
    }
    
    .cont_karts{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
        padding: 30px 15px;
        .karts_item{
            width: 100%;
            min-height: 400px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: 15px 0;
            .item_zag{
                width: 100%;
                height: 55px;
                display: flex;
                align-items: center;
                padding-left: 20px;
                color: #fff;
                font-size:23px;
                letter-spacing: 1px;
                font-weight: 600;
                background-color: #4d5c85;
            }
            .item_text{
                width: 100%;
                height: 100%;
                padding: 30px 20px;
                background-color: #e7ebf9;
                p{
                    margin-bottom: 30px;
                    color: #4d5c85;
                    font-size: 16px;
                    line-height: 1.8em;
                    span{
                        font-weight: 600;
                    }
                }
            }
    
            &:nth-child(2){
                .item_zag{
                    background-color: #8c2b3c;
                }
                .item_text{
                    background-color: #ffeef1;
                    p{
                        color: #8c2b3c;
                    }
                }
            }
            &:nth-child(3){
                .item_zag{
                    background-color: #333333;
                }
                .item_text{
                    background-color: #eaeaea;
                    p{
                        color: #333333;
                    }
                }
            }
            &:nth-child(4){
                .item_zag{
                    background-color: #2d3b4d;
                }
                .item_text{
                    background-color: #eaf3ff;
                    p{
                        color: #2d3b4d;
                    }
                }
            }
        }
    }
}